*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Variable.ttf");
} */

body {
  background-color: #f3efef;
  font-family: "Poppins";
}

.container {
  width: 90%;
  margin: 1em auto;
}

.hero {
  text-align: center;
}

.about {
  padding-bottom: 50px;
  text-align: center;
}

.topic {
  color: #808080;
  font-weight: lighter;
}

.power {
  color: #4c4e61;
}

.box {
  max-width: 300px;
  padding: 16px;
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 20px rgba(76, 78, 97, 0.2);
}

p {
  font-weight: 300;
}

.seen {
  border-top: 5px solid #45d3d3;
}

.image {
  align-self: flex-end;
}

.together {
  border-top: 5px solid #ea5353;
}

.idea {
  border-top: 5px solid #fcaf4a;
}

.solution {
  border-top: 5px solid #549ef2;
}

p {
  color: #808080;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 400px) {
  #wrapper {
  }
}
